.box{
  margin: 25px auto;
  width: 1200px;
  text-align: center;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

h1{
  color: var(--main-color);
}
button{
  display: inline-block;
  text-align: center;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  margin: 5px;
  width:  auto;
  cursor: pointer;
  outline: none;
}